/* ============================================================== 
     # forgot 
=================================================================== */
.forgot-area, 
.forgot-area div {
  height: 100%;
}

.forgot-area div.forgot, 
.forgot-area div.forgot div {
  height: auto;
}

.forgot-area .forgot-box {
  display: table;
  width: 100%;
}

.forgot-area .forgot-box .forgot {
  display: table-cell;
  height: auto;
  vertical-align: middle;
}

.forgot-area .content {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 0 0 10px #cccccc;
  padding: 30px;
  text-align: center;
}

.forgot-area .content img {
  margin-bottom: 30px;
}

.forgot-area .content input {
  border: none;
  box-shadow: inherit;
  padding-left: 25px;
  border-bottom: 1px solid #e7e7e7;
  border-radius: inherit;
}

.forgot-area .form-group {
  position: relative;
}

.forgot-area .form-group i {
  position: absolute;
  left: 0;
  top: 16px;
  color: #999999;
}

.forgot-area .content button {
  background: linear-gradient(90deg, var(--theme-color) 0%, var(--theme-color-light) 75%);
  border: medium none;
  border-radius: 5px;
  box-shadow: inherit;
  color: #ffffff;
  font-weight: 700;
  padding: 8px;
  text-transform: uppercase;
  width: 100%;
}

.forgot-area .content .sign-up {
  display: inline-block;
  margin-top: 30px;
}

.forgot-area .content .sign-up a {
  color: #437eeb;
  margin-left: 5px;
}

.forgot-area .link {
  text-align: right;
  margin-bottom: 25px;
  text-decoration: underline;
}

.forgot-area .social-forgot li {
  display: inline-block;
  margin: 0 3px;
}

.forgot-area .social-forgot li a {
  background: #002359 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  line-height: 44px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
  font-size: 12px;
}

.forgot-area .social-forgot li.facebook a {
  background: #3B5998 none repeat scroll 0 0;
}

.forgot-area .social-forgot li.twitter a {
  background: #1DA1F2 none repeat scroll 0 0;
}

.forgot-area .social-forgot li.pinterest a {
  background: #BD081C none repeat scroll 0 0;
}

.forgot-area .social-forgot li.g-plus a {
  background: #DB4437 none repeat scroll 0 0;
}

.forgot-area .social-forgot li.linkedin a {
  background: #0077B5 none repeat scroll 0 0;
}

.forgot-area .social-forgot {
  border-top: 1px dashed #dddddd;
  margin-top: 15px;
  padding-top: 30px;
}

.forgot-area .social-forgot h5 {
  font-weight: 900;
  margin-bottom: 15px;
  color: #666666;
  font-size: 16px;
  text-transform: uppercase;
}


.forgot-area .content img {
    margin-bottom: 30px;
    width: 75%;
}